html body {
  padding: 0;
  margin: 0;
}

#app {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.frozen {
  filter: brightness(0.5);
}

#app>canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
